* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffbdbd;
    font-family: 'Cascadia Code', Fira Code, monospace;
    width: 700px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

p {
    padding: 1rem;
}

.container {
    padding: 1rem;
    background: #e9f6b8;
}

.months {
    list-style: none;
    width: max-content;
    padding: .5rem;
    font-size: .7rem;
    display: inline-block;
}

.array_func {
    background: #b8f6e0;
}

.array_simple {
    background: #97f69d;
}

.array_asig {
    background: #d7b8f6;
}

.client_data {
    padding: 2rem;
}