* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffbdbd;
    font-family: 'Cascadia Code', Fira Code, monospace;
    width: 700px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

p {
    padding: 1rem;
}

.container {
    padding: 1rem;
    background: #e9f6b8;
}

.planet {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.table {
    margin: 10px auto;
    border-collapse: collapse;
}
.table td {
    border: 1px dotted #000;
    padding: 10px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 10px auto;
}

li {
    text-align: center;
}