

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #5e2a2a;
    font-family: 'Digital', monospace;
    width: 700px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: 1rem;
    color: azure;

}

p {
    padding: 1rem;
    color: azure;
}

.container {
    padding: 1rem;
    background: #5473ad;
}

table {
    border-collapse: collapse;
    border: 1px solid #000;
    margin: 0 auto;
}

th {
    background: #ffbdbd;
    border: 1px solid #000;

}

th, td {
    padding: 1rem;
    border: 1px solid #000000;
}

.output {
    color: #a8e449;
    background: #000;
    padding: 1rem;
    border: 2px dotted;
}

.output > p {
    padding: .5rem;
    color: #a8e449;
}